/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


 /* ===navbar开始===  */
 .navbar-default {
   border-radius: 0;
   border-color:transparent;
   background: rgb(88,75,79);
     .navbar-header {
       margin-left: 9%;
       a {
         font-size: 20px;
         color: #fff;
         transition: 0.35s;
       }
       a:hover {
         color: #D0CFCE;
       }
     }
     .navbar-nav li a {
       color: #fff;
       font-size: 16px;
       transition: 0.35s;
     }
     .navbar-nav li a:hover {
       color: #D0CFCE;
       text-decoration: none
     }

     .navbar-nav .dropdown-menu {
       padding-bottom: 0;
       padding-top: 0;
       a {
         text-align: center;
         color: #000;
       }
       li.divider:last-child {
         display: none;
       }
     }
    }

 /* search */
  #search {
   padding: 3px 22px 3px 2px;
   width: 350px;
   height: 30px;
   background: #faf6ec;
   color: #808080;
   outline: 0;
   border: none;
   border-bottom: 1px solid #e6e6e6;
   border-radius: 15px;
   padding-left: 15px;
 }
 .search-icon{
   background: transparent;
   border: none;
   border-color: transparent;
   margin-left: -40px;
 }

 /* banner */
 .banner-v2 {
   .banner-img{

     img{
       margin-top: -23px;
       width:100%;
       height:550px;
       background-repeat: no-repeat;   //背景不重复
        background-size: cover;
     }
   }
 }

 .tupian{
   width: 50px;
   height:50px;
 }


 /*===== login ====*/
 .user_setup{
     margin-top: -20px;
     background-repeat: no-repeat;   //背景不重复
      background-size: cover;
     background-image: url(https://images.pexels.com/photos/113776/pexels-photo-113776.jpeg?w=940&h=650&auto=compress&cs=tinysrgb)
 }

 .user_setup_content{
     background: #fff;
     margin-top: 135px;
     padding-top: 20px;
     padding-bottom: 20px;
     box-shadow: 1px 3px 5px #333;
     border: 5px solid #666;
     border-radius: 25px;

     opacity:0.95;
     filter:alpha(opacity=95);

     h2{
       text-align: center;
     }

     .psw{
       float: right;
       margin-top: -33px;
       position: relative;
     }

     .account{
       text-align: center;
     }

     .form-inputs{
       margin-top: 25px;
     }

     .form-actions{
       text-align: center;
       margin-top: 35px;
       margin-bottom: 25px;

       .button{
         color: #fff;
         background-color: #4A6BB5;
         border-color: #4A6BB5;
         font-size: 16px;
         letter-spacing: 1px;
         width: 100%;
       }
       .button:hover{
           background-color: #4A99B5;
           border-color: #4A99B5;
           color: #fff;
       }
     }
 }

 // car item 界面
.cart-item-01 {

}
.panel-info {
    border-color: #f1f1f1;
}

.panel-heading-cart {
    color: #384245;
    background-color: #fff;
    border-color: #f1f1f1;
    font-size: 20px;
}
.panel-info > .panel-heading {
    color: #384245;
    background-color: #fff;
    border-color: #f1f1f1;
}
.panel-heading-cart {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.product-name-cart a {
  color: #384245;
  font-size: 14px;
}
.empty-cart-item {
  color: #384245;
  font-size: 16px;
}

.cart-delete-item {
  color: #F44336;
  font-size: 20px;
}

.panel-footer {
    padding: 5px 15px;
    background-color: #fff;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-title-cart {
  //padding-left: -15px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}

.round-submit-cart .round-submit-button-cart {
    border-radius: 7px;
    background: transparent;
    display: inline-block;
    border: 2px solid #FF5722;
    color: #FF5722;
    line-height: 0.6;
    text-align: center;
    font-size: 16px;
    //text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 17px;
    margin: 10px 10px 20px;
}

.round-submit-cart-pay .round-submit-button-cart-pay {
    border-radius: 7px;
    background-color: #FF5722;
    display: inline-block;
    border: 2px solid #FF5722;
    color: #fff;
    line-height: 0.6;
    text-align: center;
    font-size: 16px;
    //text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 17px;
    margin: 10px 10px 20px;
}
.round-cancel-cart .round-cancel-button-cart {
    border-radius: 7px;
    background-color: #FF5722;
    display: inline-block;
    border: 2px solid #FF5722;
    color: #000;
    line-height: 0.6;
    text-align: center;
    font-size: 16px;
    //text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 17px;
    margin: 10px 10px 20px;
}
.total-price-item {
  color: #FF5722;
  font-size: 16px;
  margin: 10px;
}
.total-size {
  font-size: 16px;
}
.update-item .btn-primary {
  font-size: 13px;
  background-color: #ff5722;
  border: 0px;
}

.count-input .incr-btn {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #606060;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    top: 0;
    right: 0;
}
.count-input .incr-btn:first-child {
    right: auto;
    left: 0;
}

.count-input input {
    width: 100%;
    height: 25px;
    border: 2px solid #ededed;
    border-radius: 4px;
    background: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}


.count-input {
    position: relative;
    width: 100px;
    margin: 10px 0;
}
 // *=====car item 界面结束=====*/

  //*===== Push 首页-立即购买 =====*/
.push-box {
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/K7KZ0RZ6EM.jpg) no-repeat scroll top center/ cover;

}
.btn-push {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
