/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效


 //------Common------//
 .col-centered{
     float: none;
     margin: 0 auto;
 }

html{
  height: 100%;
}
 body {
   margin-top: -50px;
     min-height: 100%;
     display: flex;                                      // footer固定底部
     flex-direction: column;                             // footer固定底部
     line-height: 1.8em;
     letter-spacing: 0.1em;
      font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
     //font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,STHeitiSC-Light,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
     .content {
           flex: 1;
         }
  a {                                                 // 所有a标签统一样式
  color: #666;                                      // 链接反转的样式
  transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
   }

   a:hover {
  color: #666;
  transition: 0.5s;
  background-color: white;                              // 鼠标指向时 0.5面渐变
  text-decoration: none;                            // 移除下划线
      }
}

 /* ===navbar开始===  */

 .navbar {
background: rgba(0, 0, 0, 0.1);
border: none;
border-color: transparent;
.navbar-brand {
    letter-spacing: 0.1em;                              //拉开一点点字间距
    font-weight:lighter;                                   //字体粗细比默认样式缩小100磅值，让logo显得精致高级
  }
 &.show_bgcolor {
   background: #f5f5f5;
   border: none;
   border-color: transparent;

 }
     .navbar-header {
       margin-left: 9%;
       a {
         font-size: 20px;
         color: #666;                                      // 链接反转的样式
         transition: 0.5s;
       }
       a:hover {
         color: #D0CFCE;
       }
     }

     .li-style {
        color: #666;                                        // 修改全站的 字体主色
        font-size: 0.8em;
        a {                                                 // 所有a标签统一样式
          color: #666;                                      // 链接反转的样式
          transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
        }
        a:hover {
          color: #7f8c8d;
          transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
          text-decoration: none;                            // 移除下划线
        }
      }
    }

 /* search */
  #search {
   padding: 3px 22px 3px 2px;
   width: 250px;
   height: 30px;
   background: white;
   color: #808080;
   outline: 0;
   border: none;
   border-bottom: 1px solid #e6e6e6;
   border-radius: 15px;
   padding-left: 15px;
 }
 .search-icon{
   background: transparent;
   border: none;
   border-color: transparent;
   margin-left: -40px;
 }


/*===== welcome ====*/
#head-section, #content-section-1, #content-section-2, #content-section-3 {
	position: relative;
	width: auto;
	margin-top:-10px;
	padding: 0;
	display: block;
  background-color: #eeeeee;
}
#content-section-1>.content-1 {
	margin: 0 auto;
	width: 690px;
	text-align: center;
	.group {
		text-align: center;
	}

	p {
		color: #666;
	}

	img {
		width: 100%;
	}

}
.short-line {
    display: block;
    background: #f96146;
    border-style: none;
    border-radius: 0;
    margin: 20px auto 20px auto;
    z-index: 53;
    width: 200px;
    height: 2px;
    position: relative;
}

/*===== Story 首页-用户故事 =====*/
.story-box {
  text-align: center;
  padding: 25px 62.5px 50px 62.5px;

  h3 {
    font-size: 20px;
    text-align: left;
  }

  p {
    color: #666;
    line-height: 30px;
    text-align: justify;
  }

  img {
    width: 150px;
    border-radius: 50%;
  }

  hr {
    height: 1.5px;
    background-color: #999;
  }
}

/*===== Show 首页-推荐商品 =====*/

.show-box {

  padding: 50px 0 50px 0;

  img {
    width: 100%;
  }

  .box {
	  margin-top: 15px;
	  box-shadow: 1px 1px 1.5px #ccc;
	}

  .three {
    margin-top: 12px;
  }

  .box:hover {
    opacity: 0.85;
  }
}
// 商品展示页面
 .product-list-style {                             //图片+文字 块样式整形
   margin: 3em auto 2em;
 }
 .product-list-style-img {                             //文字 块样式整形
   margin-bottom: 1.2em;
 }
 .all-product-box {
   margin-bottom: 3em;
 }


 // 页面头部微调
 .product-show {
   margin-top: 2em;
 }

 // 商品标题样式
 .product-title {
   color: #7f8c8d;
 }

 // 商品简述样式
 .product-description {
   margin: 1.5em auto 2em;
   line-height: 1.6em;
 }

 // 商品价格样式
 .product-price-bgcolor {
   background-color: #f5f5f5;
   padding: 1.5em 1em;
   margin-bottom: 1em;
 }
 .product-price {
   font-size: 3em;
   color: #7f8c8d;
   font-weight: lighter;
 }

 //商品库存样式
 .product-quantity {
   margin: 1.5em auto;
 }

 // 按钮区域样式
 .add-to-cart-buttom {
   margin: 3em auto 1em;
   a:visited {
    color: white;
}
 }

 // 收藏按钮
 .product-collection {
   line-height: 3em;
   a:visited {
    color: #666;
}
 }

 //商品详情区域样式
 .product-particulars {
   margin: 1.1em 0 3em;
 }
 .product-particulars-box {
   border: 1px solid #e3e3e3;
   border-top: none;
   padding: 2em 1.2em;
   letter-spacing: 0.1em;
   text-align: center;
   line-height: 1.6em;
   img {
     max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
     }
 }

 // 商品品论区域样式
 .review-comment-form {
   text-align: left;
   padding: 2em 2em;
 }
 .review-comment-button {
   text-align: left;
   padding: 0 2em;
   margin-top: -2em;
 }
 .reviews {
   text-align: left;
   li {
     list-style: none;
   }
 }
 .review-user-email {
   font-weight: bold;
 }
 .review-comment {
   margin: 1em auto;
 }
 .review-hr {
   padding: 0 3em;
 }
 /*===== 產品信息區塊設置 =====*/
 .product-show {
   margin: 0 0 100px 0;

   /*===== 產品圖片區塊設置=====*/
   .product-image {
     .image-box {
       padding: 7.5px;
     }

     .main-image {
       width: 60%;
       margin-bottom: 10px;
     }

     .list-image {
       width: 100%;
     }

     .list-image-active {
       box-shadow: 1.5px 1.5px 1.5px #666;
     }
   }
   }
 //购物指南区域样式
 .product-recommend {
   background-color: #f5f5f5;
   border-radius: 4px;
   margin: 1em 0 3em;
   padding: 20px 50px 20px 50px;
   line-height: 1.6em;
   text-align: justify;
 }
 /*===== login ====*/
 .user_setup{
     margin-top: -20px;
     background-repeat: no-repeat;   //背景不重复
      background-size: cover;
     background-image: url(https://images.pexels.com/photos/113776/pexels-photo-113776.jpeg?w=940&h=650&auto=compress&cs=tinysrgb)
 }

 .user_setup_content{
     background: #fff;
     margin-top: 135px;
     padding-top: 20px;
     padding-bottom: 20px;
     box-shadow: 1px 3px 5px #333;
     border: 5px solid #666;
     border-radius: 25px;

     opacity:0.95;
     filter:alpha(opacity=95);

     h2{
       text-align: center;
     }

     .psw{
       float: right;
       margin-top: -33px;
       position: relative;
     }

     .account{
       text-align: center;
     }

     .form-inputs{
       margin-top: 25px;
     }

     .form-actions{
       text-align: center;
       margin-top: 35px;
       margin-bottom: 25px;

       .button{
         color: #fff;
         background-color: #4A6BB5;
         border-color: #4A6BB5;
         font-size: 16px;
         letter-spacing: 1px;
         width: 100%;
       }
       .button:hover{
           background-color: #4A99B5;
           border-color: #4A99B5;
           color: #fff;
       }
     }
 }


 /*===== Product 產品 =====*/
.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  .thumbnail1 {
      display: block;
      padding: 4px;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
    //  border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: border 0.2s ease-in-out;
      -o-transition: border 0.2s ease-in-out;
      transition: border 0.2s ease-in-out;
  }
  .background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  a {
    color: #666 !important;
  }

  .btn {
    background-color: #fff;
    margin: 0 10px 0 10px;
  }

  .btn:hover,
  .btn:focus {
    color: #eb5424;
  }

  .dropdown-menu {
    li {
      min-width: 200px;
      padding: 2.5px 0 2.5px 0;
    }

    li:hover {
      a {
        background-color: #f0f0f0 !important;
      }
    }
  }

  a:hover {
    color: #eb5424 !important;

    img {
      opacity: 0.75;
    }
  }

  .search-error {
    margin: 150px 0 150px 0;
  }

  /*===== 產品列表內容設置 =====*/
  .product-content {
    img {
      width: 100%;
      margin: 7.5px auto 7.5px auto;
    }

    h2 {
      margin-top: 150px;
    }


  }



  .product-info {
    text-align: left;
    line-height: 14px;
    min-height: 55px;
  }

  /*===== 產品路徑設置 =====*/
  .path-box {
    text-align: left;
    height: 20px;

    .right-box {
      button {
        margin: -15px 0 -15px 0;
        padding: 7.5px 10px 7.5px 10px;
        border: 2px solid #666;
        color: #333;
      }

      button:focus {
        background-color: #fff;
        color: #333;
      }

      ul {
        margin-top: 15px;
      }
    }
  }

  /*===== 產品顏色設置 =====*/
  .color-circle {
    button {
      border: none;
      outline: none;
      border-radius: 25px;
      color: #ffffff;
      padding: 10px 10px 10px 10px;
      margin: 0px 2px 0px 2px;
    }

    button:active {
      outline: none; //點擊不顯示外框
    }
  }

  /*===== 精選商品圖示 =====*/
  .chosen-box {
    position: absolute;
    border-radius: 45px;
    top: 22px;
    left: 27px;
    width: 45px;
    height: 45px;
    padding-top: 11px;
    color: #fff;
    background-color: #02061A;
    border: 2.5px solid #999;
    opacity: 0.85;
    z-index: 1;
  }

  .location {
    top: 15px;
    left: 30px;
  }
}

/*===== 產品信息區塊設置 =====*/
.product-show {
  margin: 0 0 100px 0;

  /*===== 產品圖片區塊設置=====*/
  .product-image {
    .image-box {
      padding: 7.5px;
    }

    .main-image {
      width: 100%;
      margin-bottom: 10px;
    }

    .list-image {
      width: 100%;
    }

    .list-image-active {
      box-shadow: 1.5px 1.5px 1.5px #666;
    }
  }

  /*===== 產品介紹區塊設置 =====*/
  .product-detail {
    // padding: 0 25px 0 25px;
    text-align: left;

    h1 {
      margin-top: 5px;
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 25px;
    }

    hr {
      border: 0;
      border-bottom: 1px dashed #aaa;
      margin: 30px 0 30px 0;
    }

    img {
      width: 17.5px;
    }

    div {
      display: block;
    }

    .price {
      height: 60px;
    }

    .currency {
      margin: 10px 0 0 0;

      button {
        margin-right: -10px;
      }

      ul{
        margin-top: -5px;
      }
    }

    .wish {
      margin-left: 15px;
      font-weight: 600;
    }

    .share {
      margin-right: 15px;
    }

    /*===== 按鈕設置 =====*/
    .btn-default {
      margin-top: 25px;
      width: 100%;
      color: #666;
    }

    .btn-default:hover {
      background-color: #fff;
      border-color: #eb5424;
      color: #eb5424;
    }

    .quantity-box {
      height: 20px;

      .quantity-input {
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 2.5px;
        outline: none;
      }

      .quantity-input:focus {
        border: 1px solid #000;
      }

      .quantity-actions {
        padding: 2.5px 10px 2.5px 10px;
        border: 1px solid #ccc;
        border-radius: 2.5px;
      }

      .quantity-actions:hover {
        border: 1px solid #eb5424;
      }

      .quantity-none {
        color: #999;
        font-weight: 500;
      }
    }

  }
}

.suggest-box {

  hr.suggest {
    margin: 80px auto 0px auto;
    max-width: 250px;
    border-bottom: 2px double #8c8b8b !important;
    text-align: center;
  }

  hr.suggest:after {
    content: 'BEST MATCHES';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #fff;
    font-size: 18px;
  }

  img {
    margin: 30px auto 0px auto;
    width: 110px !important;
  }

}


/*===== Content 網站-內容區塊排版設定 =====*/
.content-box {
  min-height: 450px;

  h3 {
    color: #2c3e50;
    letter-spacing: 2px;
    margin-top: 35px;
  }

  hr {
    height: 1.5px;
    background-color: #666 !important;
    margin-bottom: 15px;
  }

  .btn-default {
    margin: 10px 0 0 -10px;
  }

  .btn-default:hover {
    border-color: #eb5424;
  }
}



/*===== Cart 網站-購物車設定 =====*/
.cart-item-box {
  text-align: left;
  margin: 5px 0 5px 0;

  img {
    max-width: 75px;
  }

  div {
    margin-left: 15px;
    display: inline-block;
  }

  hr {
    height: 1px;
    background-color: #eee !important;
    margin: 7.5px 0 -2.5px 0;
  }

  .name {
    min-width: 50%;
  }

  .price {
    min-width: 100px;
  }

  input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2.5px;
    outline: none;
  }

  input:focus {
    border: 1px solid #000;
  }
}
// .cart-item-01 {
//
// }
// .panel-info {
//     border-color: #f1f1f1;
// }
//
// .panel-heading-cart {
//     color: #384245;
//     background-color: #fff;
//     border-color: #f1f1f1;
//     font-size: 20px;
// }
// .panel-info > .panel-heading {
//     color: #384245;
//     background-color: #fff;
//     border-color: #f1f1f1;
// }
// .panel-heading-cart {
//     padding: 10px 15px;
//     border-bottom: 1px solid transparent;
//     border-top-right-radius: 3px;
//     border-top-left-radius: 3px;
// }
// .panel-heading {
//     padding: 10px 15px;
//     border-bottom: 1px solid transparent;
//     border-top-right-radius: 3px;
//     border-top-left-radius: 3px;
// }
//
// .product-name-cart a {
//   color: #384245;
//   font-size: 14px;
// }
// .empty-cart-item {
//   color: #384245;
//   font-size: 16px;
// }
//
// .cart-delete-item {
//   color: #F44336;
//   font-size: 20px;
// }
//
// .panel-footer {
//     padding: 5px 15px;
//     background-color: #fff;
//     border-top: 0px solid #ddd;
//     border-bottom-right-radius: 3px;
//     border-bottom-left-radius: 3px;
// }
// .panel-title-cart {
//   //padding-left: -15px;
// }
// .panel-title {
//     margin-top: 0;
//     margin-bottom: 0;
//     font-size: 16px;
//     color: inherit;
//     font-weight: bold;
// }
//
// .round-submit-cart .round-submit-button-cart {
//     border-radius: 7px;
//     background: transparent;
//     display: inline-block;
//     border: 2px solid #FF5722;
//     color: #FF5722;
//     line-height: 0.6;
//     text-align: center;
//     font-size: 16px;
//     //text-transform: uppercase;
//     letter-spacing: 1px;
//     padding: 13px 17px;
//     margin: 10px 10px 20px;
// }
//
// .round-submit-cart-pay .round-submit-button-cart-pay {
//     border-radius: 7px;
//     background-color: #FF5722;
//     display: inline-block;
//     border: 2px solid #FF5722;
//     color: #fff;
//     line-height: 0.6;
//     text-align: center;
//     font-size: 16px;
//     //text-transform: uppercase;
//     letter-spacing: 1px;
//     padding: 13px 17px;
//     margin: 10px 10px 20px;
// }
// .round-cancel-cart .round-cancel-button-cart {
//     border-radius: 7px;
//     background-color: #FF5722;
//     display: inline-block;
//     border: 2px solid #FF5722;
//     color: #000;
//     line-height: 0.6;
//     text-align: center;
//     font-size: 16px;
//     //text-transform: uppercase;
//     letter-spacing: 1px;
//     padding: 13px 17px;
//     margin: 10px 10px 20px;
// }
// .total-price-item {
//   color: #FF5722;
//   font-size: 16px;
//   margin: 10px;
// }
// .total-size {
//   font-size: 16px;
// }
// .update-item .btn-primary {
//   font-size: 13px;
//   background-color: #ff5722;
//   border: 0px;
// }
//
// .count-input .incr-btn {
//     display: block;
//     position: absolute;
//     width: 25px;
//     height: 25px;
//     font-size: 18px;
//     color: #606060;
//     font-weight: 300;
//     text-align: center;
//     line-height: 24px;
//     text-decoration: none;
//     top: 0;
//     right: 0;
// }
// .count-input .incr-btn:first-child {
//     right: auto;
//     left: 0;
// }
//
// .count-input input {
//     width: 100%;
//     height: 25px;
//     border: 2px solid #ededed;
//     border-radius: 4px;
//     background: none;
//     text-align: center;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     -o-appearance: none;
//     appearance: none;
// }
//
//
// .count-input {
//     position: relative;
//     width: 100px;
//     margin: 10px 0;
// }
//  // *=====car item 界面结束=====*/

  //*===== Push 首页-立即购买 =====*/
.push-box {
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: url("book.jpg") no-repeat scroll top center/ cover;

}
.btn-push {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
/*===== Footer 页脚 ======*/
.footer{
  text-align: center;
  min-height: 200px;
  background-color: #f5f5f5;
  padding: 15px 0;
  color: #9a9a9a;
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  li {
    margin-top: 5px;
  }

  a {
    text-decoration:none;
    color: #9b9b9b;
  }

  a:hover,
  a:active,
  a:focus {
    color: #eb5424;
  }

  img {
    display: inline-block;
    margin-top: -6px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff; /* Logo 外框 */
    border-radius: 25px; /* Logo 切成圓形 */
  }

  p {
    a {
      color: #ddd;
    }
    a:hover {
      color: #eb5424;
    }
  }

  .footer-box {
    text-align: left !important;
    margin-top: 15px;
  }

  .footer-content {
    font-size: 16px;
    font-family: Raleway;
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 200;

    img {
      width: 25px;
      margin-left: 7.5px;
      margin-right: -0.1px;
    }

    img:hover {
      opacity: 1;
    }
  }
}

  //*===== 未知 =====*/
  .bs-slider {
    overflow: hidden;
    max-height: 550px;
    position: relative;
    background: #000000;
    margin-top: -20px;
}
/*===== 換頁按鈕設定 ======*/
 .page-box {
   margin-top: 75px;

   a {
     background-color: #eee;
   }

   a:hover {
     background-color: #ddd;
     color: #666 !important;
   }
 }
