/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 //------Common------//
 .col-centered{
     float: none;
     margin: 0 auto;
 }

 body, html {
     height: 100%;
     line-height: 1.8em;
     letter-spacing: 0.1em;
     font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,STHeitiSC-Light,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
 }
 /* ===navbar开始===  */
 .navbar {
background: rgba(0, 0, 0, 0.3);
border: none;
border-color: transparent;
 a:hover,
 a:active,
 a:focus {
color: #eb5424 !important;
 }

 &.show_bgcolor {
   background-color: #02061A;
   border: none;
   border-color: transparent;
 }
     .navbar-header {
       margin-left: 9%;
       a {
         font-size: 20px;
         color: #fff;
         transition: 0.35s;
       }
       a:hover {
         color: #D0CFCE;
       }
     }
     .navbar-nav li a {
       color: #fff;
       font-size: 16px;
       transition: 0.35s;
     }
     .navbar-nav li a:hover {
       color: #D0CFCE;
       text-decoration: none
     }

     .navbar-nav .dropdown-menu {
       padding-bottom: 0;
       padding-top: 0;
       a {
         text-align: center;
         color: #000;
       }
       li.divider:last-child {
         display: none;
       }
     }
    }

 /* search */
  #search {
   padding: 3px 22px 3px 2px;
   width: 250px;
   height: 30px;
   background: #faf6ec;
   color: #808080;
   outline: 0;
   border: none;
   border-bottom: 1px solid #e6e6e6;
   border-radius: 15px;
   padding-left: 15px;
 }
 .search-icon{
   background: transparent;
   border: none;
   border-color: transparent;
   margin-left: -40px;
 }

 /* banner */

 .tupian{
   width: 50px;
   height:50px;
 }
/*===== welcome ====*/
#head-section, #content-section-1, #content-section-2, #content-section-3 {
	position: relative;
	width: auto;
	margin-top:-10px;
	padding: 0;
	display: block;
  background-color: #eeeeee;
}
#content-section-1>.content-1 {
	margin: 0 auto;
	width: 690px;
	text-align: center;
	.group {
		text-align: center;
	}

	p {
		color: #666;
	}

	img {
		width: 100%;
	}

}
.short-line {
    display: block;
    background: #f96146;
    border-style: none;
    border-radius: 0;
    margin: 20px auto 20px auto;
    z-index: 53;
    width: 200px;
    height: 2px;
    position: relative;
}
/*===== Show 首页-推荐商品 =====*/
.show-box {
  text-align: center;
  padding: 50px 0 50px 0;

  img {
    width: 100%;
  }

  .box {
	  margin-top: 15px;
	  box-shadow: 1px 1px 1.5px #ccc;
	}

  .three {
    margin-top: 12px;
  }

  .box:hover {
    opacity: 0.85;
  }
}
// 商品展示页面
 .product-list-style {                             //图片+文字 块样式整形
   margin: 3em auto 2em;
 }
 .product-list-style-img {                             //文字 块样式整形
   margin-bottom: 1.2em;
 }
 .all-product-box {
   margin-bottom: 3em;
 }


 // 页面头部微调
 .product-show {
   margin-top: 2em;
 }

 // 商品标题样式
 .product-title {
   color: #7f8c8d;
 }

 // 商品简述样式
 .product-description {
   margin: 1.5em auto 2em;
   line-height: 1.6em;
 }

 // 商品价格样式
 .product-price-bgcolor {
   background-color: #f5f5f5;
   padding: 1.5em 1em;
   margin-bottom: 1em;
 }
 .product-price {
   font-size: 3em;
   color: #7f8c8d;
   font-weight: lighter;
 }

 //商品库存样式
 .product-quantity {
   margin: 1.5em auto;
 }

 // 按钮区域样式
 .add-to-cart-buttom {
   margin: 3em auto 1em;
 }

 // 收藏按钮
 .product-collection {
   line-height: 3em;
 }

 //商品详情区域样式
 .product-particulars {
   margin: 1.1em 0 3em;
 }
 .product-particulars-box {
   border: 1px solid #e3e3e3;
   border-top: none;
   padding: 2em 1.2em;
   letter-spacing: 0.1em;
   text-align: center;
   line-height: 1.6em;
   img {
     max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
     }
 }

 // 商品品论区域样式
 .review-comment-form {
   text-align: left;
   padding: 2em 2em;
 }
 .review-comment-button {
   text-align: left;
   padding: 0 2em;
   margin-top: -2em;
 }
 .reviews {
   text-align: left;
   li {
     list-style: none;
   }
 }
 .review-user-email {
   font-weight: bold;
 }
 .review-comment {
   margin: 1em auto;
 }
 .review-hr {
   padding: 0 3em;
 }
 /*===== 產品信息區塊設置 =====*/
 .product-show {
   margin: 0 0 100px 0;

   /*===== 產品圖片區塊設置=====*/
   .product-image {
     .image-box {
       padding: 7.5px;
     }

     .main-image {
       width: 60%;
       margin-bottom: 10px;
     }

     .list-image {
       width: 100%;
     }

     .list-image-active {
       box-shadow: 1.5px 1.5px 1.5px #666;
     }
   }
   }
 //购物指南区域样式
 .product-recommend {
   background-color: #f5f5f5;
   border-radius: 4px;
   margin: 1em 0 3em;
   padding: 20px 50px 20px 50px;
   line-height: 1.6em;
   text-align: justify;
 }
 /*===== login ====*/
 .user_setup{
     margin-top: -20px;
     background-repeat: no-repeat;   //背景不重复
      background-size: cover;
     background-image: url(https://images.pexels.com/photos/113776/pexels-photo-113776.jpeg?w=940&h=650&auto=compress&cs=tinysrgb)
 }

 .user_setup_content{
     background: #fff;
     margin-top: 135px;
     padding-top: 20px;
     padding-bottom: 20px;
     box-shadow: 1px 3px 5px #333;
     border: 5px solid #666;
     border-radius: 25px;

     opacity:0.95;
     filter:alpha(opacity=95);

     h2{
       text-align: center;
     }

     .psw{
       float: right;
       margin-top: -33px;
       position: relative;
     }

     .account{
       text-align: center;
     }

     .form-inputs{
       margin-top: 25px;
     }

     .form-actions{
       text-align: center;
       margin-top: 35px;
       margin-bottom: 25px;

       .button{
         color: #fff;
         background-color: #4A6BB5;
         border-color: #4A6BB5;
         font-size: 16px;
         letter-spacing: 1px;
         width: 100%;
       }
       .button:hover{
           background-color: #4A99B5;
           border-color: #4A99B5;
           color: #fff;
       }
     }
 }


 // car item 界面
.cart-item-01 {

}
.panel-info {
    border-color: #f1f1f1;
}

.panel-heading-cart {
    color: #384245;
    background-color: #fff;
    border-color: #f1f1f1;
    font-size: 20px;
}
.panel-info > .panel-heading {
    color: #384245;
    background-color: #fff;
    border-color: #f1f1f1;
}
.panel-heading-cart {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.product-name-cart a {
  color: #384245;
  font-size: 14px;
}
.empty-cart-item {
  color: #384245;
  font-size: 16px;
}

.cart-delete-item {
  color: #F44336;
  font-size: 20px;
}

.panel-footer {
    padding: 5px 15px;
    background-color: #fff;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-title-cart {
  //padding-left: -15px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}

.round-submit-cart .round-submit-button-cart {
    border-radius: 7px;
    background: transparent;
    display: inline-block;
    border: 2px solid #FF5722;
    color: #FF5722;
    line-height: 0.6;
    text-align: center;
    font-size: 16px;
    //text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 17px;
    margin: 10px 10px 20px;
}

.round-submit-cart-pay .round-submit-button-cart-pay {
    border-radius: 7px;
    background-color: #FF5722;
    display: inline-block;
    border: 2px solid #FF5722;
    color: #fff;
    line-height: 0.6;
    text-align: center;
    font-size: 16px;
    //text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 17px;
    margin: 10px 10px 20px;
}
.round-cancel-cart .round-cancel-button-cart {
    border-radius: 7px;
    background-color: #FF5722;
    display: inline-block;
    border: 2px solid #FF5722;
    color: #000;
    line-height: 0.6;
    text-align: center;
    font-size: 16px;
    //text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 17px;
    margin: 10px 10px 20px;
}
.total-price-item {
  color: #FF5722;
  font-size: 16px;
  margin: 10px;
}
.total-size {
  font-size: 16px;
}
.update-item .btn-primary {
  font-size: 13px;
  background-color: #ff5722;
  border: 0px;
}

.count-input .incr-btn {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #606060;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    top: 0;
    right: 0;
}
.count-input .incr-btn:first-child {
    right: auto;
    left: 0;
}

.count-input input {
    width: 100%;
    height: 25px;
    border: 2px solid #ededed;
    border-radius: 4px;
    background: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}


.count-input {
    position: relative;
    width: 100px;
    margin: 10px 0;
}
 // *=====car item 界面结束=====*/

  //*===== Push 首页-立即购买 =====*/
.push-box {
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/K7KZ0RZ6EM.jpg) no-repeat scroll top center/ cover;

}
.btn-push {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
  //*===== 未知 =====*/
  .bs-slider {
    overflow: hidden;
    max-height: 550px;
    position: relative;
    background: #000000;
    margin-top: -20px;
}
