// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ===订单开始开始===  */
#product-content{

.products-box{
 background-color: #A1887F;
 height: 500px;
 margin-bottom: 100px;
 margin-top: 100px;
}
.product-box{
 margin-top: 20px;
 background-color: #EEEEEE;
 margin-bottom: 50px;
}
.product-box .table{
 margin-bottom: 15px;
}
}

/* ===订单开始结束===  */
