// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* ===商品列表开始===  */
 #indexlist{

 .product-list{
   min-height: 500px;

 }
 .product-list .product-content{
   margin-top: 30px;
   float: left;
   margin: 0 auto;
   border: 2px solid #E0E0E0;
   box-shadow: 1px 1px 1px #BDBDBD;
   margin-top: 20px;
   margin-bottom: 40px;
   i{
     font-size: 10px;
     color: #FFFFFF;
     border: 1px;
     background-color: #29B6F6;
   }
 }
 }
