

	<div class="row">
	<div class="container">
				<div class=" col-md-6">

            <div class="productDetail">
            <div class="productDetail-left">
              <div class="productDetail-left-bigImage">
                <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd8at53f6wj30by0by76d.jpg" />
              </div>
              <div class="productDetail-left-imageList">
                <div class="productDetail-left-imageList-item">
                  <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd8at53f6wj30by0by76d.jpg" />
                </div>
                <div class="productDetail-left-imageList-item">
                  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd8atgi571j30by0byt9t.jpg" />
                </div>
                <div class="productDetail-left-imageList-item">
                  <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd8atkt1x5j30by0bywfp.jpg" />
                </div>
                <div class="productDetail-left-imageList-item">
                  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd8ato8u7nj30by0byq40.jpg" />
                </div>
                <div class="productDetail-left-imageList-item productDetail-left-imageList-lastItem">
                  <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd8b42ustuj30bm0bnjsp.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
